<nav class="bg-neutral-900 text-white px-6 py-1 shadow-md flex justify-between items-center">
    <h1 class="text-md font-semibold">Contactfy</h1>

    <div class="relative" (clickOutside)="showDropdown = false">
        <button (click)="logout()"
            class="font-semibold w-full text-left px-4 py-2 text-sm hover:bg-neutral-500 transition">
            Sair
        </button>
    </div>
</nav>

<div class="min-h-screen bg-neutral-950 text-white px-4 py-12 flex flex-col items-center">
    <div class="w-full max-w-2xl bg-neutral-900 p-8 rounded-2xl shadow-xl border border-neutral-800">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-3xl font-semibold">Contatos</h2>
            <div class="flex space-x-2">
                <button (click)="refreshList()"
                    class="cursor-pointer bg-white p-2 text-neutral-900 rounded-lg shadow hover:bg-neutral-200 transition"
                    title="Atualizar">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
                    </svg>
                </button>

                <button (click)="createNewContact()"
                    class="cursor-pointer bg-white p-2 text-neutral-900 rounded-lg shadow hover:bg-neutral-200 transition"
                    title="Novo Contato">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                    </svg>
                </button>
            </div>

        </div>

        <ul class="divide-y divide-neutral-800">
            <div *ngIf="loadError" class="text-red-400 text-center mt-4">
                Erro ao carregar contatos. Tente novamente.
            </div>
            <ng-container *ngIf="!loadError">
                <li *ngFor="let contact of contacts" class="py-4 flex justify-between items-center">
                    <div (click)="viewContactDetails(contact)" class="cursor-pointer">
                        <p class="text-lg font-medium">{{ contact.name }}</p>
                        <p class="text-sm text-neutral-400">
                            {{ contact.cellphone || 'Sem celular' }}
                        </p>
                    </div>

                    <div class="flex items-center space-x-3">
                        <button (click)="toggleFavorite(contact)" class="cursor-pointer">
                            <svg *ngIf="!contact.favorite" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6 text-neutral-500 hover:text-yellow-400 transition">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.48 3.499a.562.562 0 011.04 0l2.091 5.136a.563.563 0 00.475.348l5.453.49c.51.046.716.693.325 1.05l-4.14 3.639a.562.562 0 00-.18.557l1.285 5.385c.118.495-.408.884-.838.63l-4.722-2.784a.563.563 0 00-.57 0l-4.722 2.784c-.43.254-.956-.135-.838-.63l1.285-5.386a.562.562 0 00-.18-.557L2.136 10.52c-.39-.357-.184-1.004.325-1.05l5.453-.49a.563.563 0 00.475-.348l2.09-5.136z" />
                            </svg>

                            <svg *ngIf="contact.favorite" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6 text-yellow-400">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.48 3.499a.562.562 0 011.04 0l2.091 5.136a.563.563 0 00.475.348l5.453.49c.51.046.716.693.325 1.05l-4.14 3.639a.562.562 0 00-.18.557l1.285 5.385c.118.495-.408.884-.838.63l-4.722-2.784a.563.563 0 00-.57 0l-4.722 2.784c-.43.254-.956-.135-.838-.63l1.285-5.386a.562.562 0 00-.18-.557L2.136 10.52c-.39-.357-.184-1.004.325-1.05l5.453-.49a.563.563 0 00.475-.348l2.09-5.136z" />
                            </svg>
                        </button>

                        <button (click)="viewContactDetails(contact)" title="Ver detalhes" class="cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6 text-neutral-500 hover:text-neutral-300 transition">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.458 12C3.732 7.943 7.523 5.25 12 5.25s8.268 2.693 9.542 6.75c-1.274 4.057-5.065 6.75-9.542 6.75s-8.268-2.693-9.542-6.75z" />
                            </svg>
                        </button>

                    </div>
                </li>
            </ng-container>
        </ul>

        <div class="text-center text-neutral-500 mt-4" *ngIf="loading">
            Carregando...
        </div>
        <div class="text-center text-neutral-500 mt-4" *ngIf="!hasNextPage && !loading">
            Todos os contatos carregados.
        </div>
    </div>
</div>

<!-- MODAL -->
<div *ngIf="isModalOpen"
    class="fixed inset-0 bg-black bg-opacity-60 backdrop-blur-sm flex justify-center items-center z-50">
    <div class="bg-white text-neutral-900 rounded-xl w-full max-w-md p-6 shadow-lg relative">

        <button (click)="closeModal()"
            class="absolute top-3 right-3 text-gray-500 hover:text-black text-lg font-bold">×</button>

        <ng-container *ngIf="isLoadingContact">
            <p class="text-center text-gray-600">Carregando...</p>
        </ng-container>

        <ng-container *ngIf="!isLoadingContact && selectedContact">
            <h2 class="text-2xl font-semibold mb-4 text-center">
                {{ isCreating ? 'Novo Contato' : (isEditing ? 'Edição de Contato' : 'Detalhes do Contato') }}
            </h2>

            <div class="space-y-4">
                <div>
                    <label class="block text-sm font-medium mb-1">Nome</label>
                    <input [disabled]="!isEditing" [(ngModel)]="selectedContact.name"
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring" />
                </div>

                <div>
                    <label class="block text-sm font-medium mb-1">Email</label>
                    <input [disabled]="!isEditing" [(ngModel)]="selectedContact.email"
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring" />
                </div>

                <div>
                    <label class="block text-sm font-medium mb-1">Celular</label>
                    <input [disabled]="!isEditing" [(ngModel)]="selectedContact.cellphone"
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring" />
                </div>

                <div>
                    <label class="block text-sm font-medium mb-1">Telefone</label>
                    <input [disabled]="!isEditing" [(ngModel)]="selectedContact.phone"
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring" />
                </div>

                <div *ngIf="!isCreating">
                    <label class="block text-sm font-medium mb-1">Criado em</label>
                    <input disabled [value]="formatDate(selectedContact.createdAt)"
                        class="w-full px-4 py-2 border border-gray-200 rounded-md bg-gray-100 cursor-not-allowed" />
                </div>
            </div>

            <div class="mt-8 flex justify-between items-center">
                <button *ngIf="!isCreating && !isEditing && selectedContact?.active"
                    (click)="confirmDeactivate(selectedContact!)" title="Desativar Contato"
                    class="bg-red-600 p-2 rounded-md hover:bg-red-800 transition text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0
         3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0
         1 12.75 0v.109A12.318 12.318 0 0 1 10.374
         21c-2.331 0-4.512-.645-6.374-1.766Z" />
                    </svg>
                </button>

                <button *ngIf="!isCreating && !isEditing" (click)="isEditing = true" title="Editar Contato"
                    class="bg-neutral-300 p-2 rounded-md hover:bg-neutral-500 transition text-neutral-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Z" />
                    </svg>
                </button>

                <button *ngIf="isEditing" (click)="cancelEdit()" title="Cancelar"
                    class="bg-neutral-300 p-2 rounded-md hover:bg-neutral-400 transition text-neutral-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>

                <button *ngIf="isCreating && isEditing" (click)="addContact()" title="Criar"
                    class="bg-green-600 p-2 rounded-md hover:bg-green-700 transition text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.25 6.75V4.5a1.5 1.5 0 0 0-1.5-1.5h-10.5A1.5 1.5 0 0 0 3.75 4.5v15A1.5 1.5 0 0 0 5.25 21h13.5a1.5 1.5 0 0 0 1.5-1.5V8.25a1.5 1.5 0 0 0-.439-1.061l-2.25-2.25A1.5 1.5 0 0 0 17.25 4.5h-1.5v2.25h1.5Zm-3 9v-1.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75v1.5a.75.75 0 0 0 .75.75h3a.75.75 0 0 0 .75-.75Zm-6-11.25h6v4.5h-6v-4.5Z" />
                    </svg>
                </button>

                <button *ngIf="!isCreating && isEditing" (click)="confirmUpdateContact()" title="Salvar"
                    class="bg-green-600 p-2 rounded-md hover:bg-green-700 transition text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75V4.5a1.5 1.5 0 0 0-1.5-1.5h-10.5A1.5 1.5
         0 0 0 3.75 4.5v15A1.5 1.5 0 0 0 5.25
         21h13.5a1.5 1.5 0 0 0 1.5-1.5V8.25a1.5
         1.5 0 0 0-.439-1.061l-2.25-2.25A1.5
         1.5 0 0 0 17.25 4.5h-1.5v2.25h1.5Zm-3
         9v-1.5a.75.75 0 0 0-.75-.75h-3a.75.75
         0 0 0-.75.75v1.5a.75.75 0 0 0
         .75.75h3a.75.75 0 0 0 .75-.75Zm-6-11.25h6v4.5h-6v-4.5Z" />
                    </svg>
                </button>
            </div>

        </ng-container>
    </div>
</div>

<div *ngIf="showConfirmDialog"
    class="fixed inset-0 bg-black bg-opacity-60 backdrop-blur-sm flex items-center justify-center z-50">
    <div class="bg-white text-neutral-900 rounded-xl shadow-lg w-full max-w-sm p-6 relative">

        <h2 class="text-lg font-semibold mb-4">{{ confirmTitle }}</h2>
        <p class="text-sm mb-6">{{ confirmMessage }}</p>

        <div class="flex justify-end space-x-4">
            <button (click)="cancelConfirm()"
                class="px-4 py-2 text-sm bg-neutral-300 text-neutral-900 rounded hover:bg-neutral-400 transition">
                Cancelar
            </button>
            <button (click)="confirmAction()"
                class="px-4 py-2 text-sm bg-red-600 text-white rounded hover:bg-red-700 transition">
                Confirmar
            </button>
        </div>
    </div>
</div>